@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 144 38.46% 97.45%;
    --foreground: 145.71 77.78% 3.53%;

    --primary: 143.83 76.22% 36.27%;
    --primary-foreground: 0 0% 100%;

    --card: 144 38.46% 97.45%;
    --card-foreground: 145.71 77.78% 3.53%;

    --popover: 0 0% 100%;
    --popover-foreground: 145.71 77.78% 3.53%;

    --secondary: 142.86 42.86% 90.39%;
    --secondary-foreground: 140 75% 1.57%;

    --muted: 141.43 43.75% 93.73%;
    --muted-foreground: 0 0% 40%;

    --accent: 141.43 43.75% 93.73%;
    --accent-foreground: 143.83 76.22% 36.27%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 143.83 76.22% 36.27%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 140 75% 1.57%;
    --foreground: 142.86 42.86% 90.39%;

    --primary: 143.83 76.22% 36.27%;
    --primary-foreground: 0 0% 100%;

    --card: 140 75% 1.57%;
    --card-foreground: 142.86 42.86% 90.39%;

    --popover: 140 75% 1.57%;
    --popover-foreground: 142.86 42.86% 90.39%;

    --secondary: 143.27 75.38% 12.75%;
    --secondary-foreground: 0 0% 100%;

    --muted: 140 10.34% 11.37%;
    --muted-foreground: 140 1.2% 50.78%;

    --accent: 143.27 75.38% 12.75%;
    --accent-foreground: 142.86 42.86% 90.39%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 143.83 76.22% 36.27%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: hsla(240, 1%, 17%, 0);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #16a34e;
  border-radius: 5px;
}

*::-webkit-scrollbar-button {
  width: 20px;
}
